<mjml>
  <mj-body background-color="#fafbfc">
    <mj-section padding-bottom="20px" padding-top="20px">
      <mj-column vertical-align="middle" width="100%">
        <mj-text align="center" font-size="30px" color="#77bb77">VMS</mj-text>
      </mj-column>
    </mj-section>
    <mj-section background-color="#fff" padding-bottom="20px" padding-top="20px">
      <mj-column vertical-align="middle" width="100%">
        <mj-text align="center" font-size="24px" font-weight="lighter" font-family="open Sans Helvetica, Arial, sans-serif" padding-left="25px" padding-right="25px"><span>Hello,</span></mj-text>
        <mj-text align="center" font-size="16px" font-family="open Sans Helvetica, Arial, sans-serif" padding-left="25px" padding-right="25px">{{name}}</mj-text>
        <mj-text align="center" font-size="27px" font-family="open Sans Helvetica, Arial, sans-serif" padding-left="25px" padding-right="25px">{{pin}}</mj-text>
        <mj-text align="center" font-size="16px" font-family="open Sans Helvetica, Arial, sans-serif" padding-left="25px" padding-right="16px">use above code to reset your password thank you</mj-text>
        <mj-text align="center" font-size="16px" font-family="open Sans Helvetica, Arial, sans-serif" padding-left="25px" padding-right="25px">VMS</mj-text>
      </mj-column>
    </mj-section>
  </mj-body>
 </mjml>